<ion-content>

  <div class="background-container">
    
      <ion-card>

        <div class="header">
          <h2>Driver's Registration</h2>
        </div>

        <ion-card-header>
          <ion-card-content>
   
            <ion-item>
              <ion-input placeholder="Enter Last Name" type="text" required>
                <ion-icon name="person"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Enter First Name" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Enter Password" type="password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Confirm Password" type="password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" value="09" required></ion-input>
            </ion-item>

            <div class= "bottom-section">
              <ion-button>
                Submit
              </ion-button>
              <span> I agree to all the <a href="#"> Terms and Conditions</a> of Pasakay Application System.</span>
            </div>
              
          </ion-card-content>
        </ion-card-header>

      </ion-card>

    </div>

</ion-content>